:root {
  --backgroundColor: #c1c8e4;
  --textColor: #8860d0;
  --secondaryColor: #5680e9;
  --trueColor: #03634a;
  --falseColor: #a30023;
  --textFont: "Carter One";
}

.quiz_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--backgroundColor);
  font-family: var(--textFont);
  color: var(--textColor);
}

.quiz_container_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--backgroundColor);
  font-family: var(--textFont);
  color: var(--textColor);
}

.quiz_info {
  display: flex;
}

.quiz_button_container {
  display: flex;
  justify-content: center;
}

.quiz_button {
  margin: 15px;
  cursor: pointer;
  border: 2px solid var(--textColor);
  border-radius: 10px;
  padding: 10px;
  font-size: xx-large;
  color: lightgray;
  font-family: var(--textFont);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.quiz_button:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
}

.quiz_button_true {
  background-color: var(--trueColor);
}

.quiz_button_false {
  background-color: var(--falseColor);
}

@media (max-width: 450px) {
  .quiz_button {
    font-size: x-large;
  }
}
