:root {
  --backgroundColor: #dddcf6;
  --textColor: #737fe7;
  --textFont: "Carter One";
}

.scoreboard_container {
  display: flex;
  flex-direction: column;
  font-family: var(--textFont);
  color: var(--textColor);
}

.scoreboard_card {
  background-color: var(--backgroundColor);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
  border: 2px var(--textColor) solid;
}

.scoreboard_title {
  font-size: xx-large;
  text-align: center;
}

.scoreboard_list {
  display: flex;
  align-items: center;
}

.scoreboard_icon {
  padding-right: 15px;
  size: 60;
}

.scoreboard_text {
  font-size: large;
  text-align: left;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.scoreboard_button {
  border: 2px solid var(--textColor);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: xx-large;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--textFont);
  cursor: pointer;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
}

.scoreboard_button:hover {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.9);
}

@media (max-width: 450px) {
  .scoreboard_title {
    font-size: x-large;
  }

  .scoreboard_text {
    font-size: medium;
  }

  .scoreboard_button {
    font-size: large;
  }
}
