:root {
  --backgroundColor: #c1c8e4;
  --textColor: #8860d0;
  --secondaryColor: #5680e9;
  --trueColor: #03634a;
  --falseColor: #a30023;
  --textFont: "Carter One";
}

.scoreboard_container {
  background-color: var(--backgroundColor);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard_card {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

h1 {
  text-align: center;
}

.scoreboard_list {
  display: flex;
  align-items: center;
}

.scoreboard_icon {
  padding-right: 15px;
  size: 60;
}

.scoreboard_button {
  border: 2px solid var(--secondaryColor);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: x-large;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--textFont);
  cursor: pointer;
}
